.footer-section {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.call-section {
  padding: 5px;
  font-weight: bold;
}
.number {
  color: #ff782c;
}
.social-icon {
  height: 35px;
  width: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  margin: 10px;
  border-radius: 20px;
}
.social-media-icons {
  display: flex;
}
.section-title {
  font-weight: 200px;
}

.link-item {
  margin: 10px;
  margin-left: 0px;
}
